body {
    height: 100vh;
    background-color: black;
    background-image: url('./imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
      
}

/* Shorthand - background
color > image > position > repeat > attachment*/

main {
    background-color: white;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    border: 1px solid darkred;
    border-radius: 15px;
}